extends layout

block content
  // breadcrumb start
  .ui.big.breadcrumb
    a.section Home
    i.right.chevron.icon.divider
    a.section Employees
    i.right.chevron.icon.divider
    .active.section Profile
  // breadcrumb end
  h2.heading-tertiary Employee Profile
  // profile start
  .user-profile
    .user-profile__content
      
      // Left
      .user-profile__picture
        .ui.card
          a.image(href='#')
            img(src='/img/avatars/avatar8.png')
          .ui.label.blue(style='margin:0 !important;border-radius:0') #{employee.id} &mdash; #{employee.post}
          .ui.label.green(style='margin:0 !important;border-radius:0') Online
      
      // Right
      .ui.styled.fluid.accordion
        .active.title
          i.dropdown.icon
          |     Basic Information
        .active.content
          .ui.segments
            .ui.segment
              strong Name: 
              span #{employee.firstName} #{employee.lastName}
            .ui.segment
              strong Gender: 
              span #{employee.gender === 'M' ? 'Male' : 'Female'}
            .ui.segment
              strong NIC: 
              span #{employee.nic}
            .ui.segment
              strong Birthday: 
              span #{employee.dateOfBirth.toDateString()}
        .title
          i.dropdown.icon
          |     Contact Information
        .content
          .ui.segments
            .ui.segment
              strong Phone: 
              span #{employee.phone}
            .ui.segment
              strong Email: 
              span #{employee.email}
            .ui.segment
              strong Location: 
              span #{employee.location}
            .ui.segment
              strong Bio: 
              span #{employee.bio}
        .title
          i.dropdown.icon
          |     Internal Information
        .content
          .ui.segments
            .ui.segment
              strong Type: 
              span #{employee.type}
            .ui.segment
              strong Post: 
              span #{employee.post}   

  // profile end
  // actions start
  h3.heading-tertiary Common Actions
  div.mb-large
    a.ui.animated.fade.button.teal(tabindex='0' href='/employees/edit/'+employee.id)
      .visible.content Edit Employee
      .hidden.content
        | Go to Edit page
    a.ui.button.red.delete-employee-button(href='#' data-id=employee.id) Remove Employee
    a.ui.button(href='#') Salary
  // actions end
  div.mb-large
    h3.heading-tertiary Recent Activity
    .ui.message
      | Added 5 students 2h ago.
