<!-- breadcrumb start -->
<div class="ui big breadcrumb ">
  <a class="section">Home</a>
  <i class="right chevron icon divider"></i>
  <a class="section">Students</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Profile</div>
</div>
<!-- breadcrumb end -->
<h2 class="heading-tertiary">Student Profile</h2>
<!-- profile start -->
<div class="user-profile">
  <div class="user-profile__tags">
    <div class="ui label blue">Attends 2 courses</div>
    <div class="ui label blue">Joined 1 Years</div>
    <div class="ui label teal">Bad Attendance</div>
    <div class="ui label teal">No Exams</div>
  </div>
  <div class="user-profile__content">
    <div class="user-profile__picture">
      <div class="ui card">
        <a class="image" href="#">
          <img src="/img/avatars/avatar6.png">
        </a>
      </div>
    </div>
    <div class="user-profile__info">
      <div class="ui segments">
        <div class="ui segment">
          <strong>Id: </strong> 00{{student.Id}}
        </div>
        <div class="ui segment">
          <strong>Username: </strong> {{student.FirstName}} {{student.LastName}}
        </div>
        <div class="ui segment">
          <strong>Location: </strong> {{student.Address}}
        </div>
        <div class="ui segment">
          <strong>Phone: </strong> {{student.Phone}}
        </div>
        <div class="ui segment">
          <strong>Member Since: </strong> 2016-09-26T15:30:027
        </div>
        <div class="ui segment">
          <strong>Bio: </strong> Born in {{student.DateOfBirth}} | <strong>Gender: </strong> {{student.Gender}}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- profile end -->
<!-- actions start -->
<h3 class="heading-tertiary">Common Actions</h3>
<div>
  <a href="student-form.html" class="card-button">Edit</a>
  <a href="#" class="card-button">Reporting</a>
</div>
<!-- actions end -->
<h3 class="heading-tertiary">Recent Examinations</h3>
<div class="ui message mb-normal">
  This student hasn't sat for any examination since joining the academy.
</div>